@page "/MetaFiles"

@using System.Diagnostics.CodeAnalysis
@using AeroHubBlazorServer.Controllers
@using AeroHubBlazorServer.Data
@using AeroHubBlazorServer.Interfaces
@using AeroHubBlazorServer.Models
@using AeroHubBlazorServer.Pages
@using Azure
@using Azure.Storage.Blobs
@inject MetaDatasController controller

<PageTitle>MetaFiles</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                id
            </th>
            <th>
                Document Type
            </th>
            <th>
                Feature Item id
            </th>
            <th>
                Part Number
            </th>
            <th>
                File Link
            </th>
            <th>
                User
            </th>
            <th>
                Date Time
            </th>
            <th>
                Signatures
            </th>
            <th>
                Supplier Name
            </th>
            <th>
                Process Number
            </th>
            <th>
                QPID
            </th>
            <th>
                NDA Number
            </th>
            <th>
                IP Number
            </th>
            <th>
                LTA Number
            </th>
            <th>
                MVA Number
            </th>
            <th>
                Supplier Document Number
            </th>
            <th>
                Engine Serial Number
            </th>
            <th>
                Engine Operator
            </th>
            <th>
                Overhaul Date
            </th>
        </tr>
    </thead>
   
</table>