@page "/UploadQIF"
@using System
@using System.IO
@using AeroHubBlazorServer.Models
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using AeroHubBlazorServer.Data
@using AeroHubBlazorServer.Shared
@using System.Xml.Linq
@using AeroHubBlazorServer.Controllers
@inject MetaDatasController controller


<PageTitle>QIF Upload</PageTitle>


<h3>QIF File Upload</h3>

<div>
    <InputFile OnChange="OnInputFileChange" id="exampleInputFile" multiple accept=".qif"></InputFile> 
</div>

<div>
    <ul>
        @foreach (QIFDocument document in qIFs)
        {
            <li>@document.QPID</li>

        }
    </ul>
</div>
   

<div>
    <label for="exampleInputFile">
        @if (qIFDocument.QPID != Guid.Empty)
        {
            @qIFDocument.QPID
        }
    </label>
</div>



@if (qIFDocument is not null)
{
    <FileUploadTableTemplate />
}



@code {

    private QIFDocument qIFDocument = new();
    private List<QIFDocument> qIFs = new();

    protected override async Task OnInitializedAsync()
    {
        qIFs = await controller.ListQIFs();
    }

    IBrowserFile? File;
    public async void OnInputFileChange(InputFileChangeEventArgs e)
    {
        using Stream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        ms.Position = 0;

        var xmlDoc = await XDocument.LoadAsync(ms, LoadOptions.None, new CancellationToken());

        var qpid = xmlDoc.Descendants(XName.Get("QPId", "http://qifstandards.org/xsd/qif3")).SingleOrDefault()!;

        qIFDocument.QPID = Guid.Parse(qpid.Value);

        await InvokeAsync(StateHasChanged);

    }
}